body {
    background-color: antiquewhite;
}
header {
width: 2000px;
background-color: aquamarine;
}
header > img {
    display: inline-block;
    width: 200px;
    float:left;
    padding: 5px;
      
    background-color: yellow; 
}
header > nav {
    display: inline-block;
    width: 1700px;
    float: left;
    padding: 5px;

    background-color: yellow; 
}
nav > a {

}
nav > a {
    
}
nav > a {
    
}
nav > a {
    
}
nav > a {
    
}
main {

;
}
main > div {
display: inline-block;
background-color: blue;
width: 400px;
height: 600px;
padding: 5px;

}
div > h1 {

}
div >h2 {

}
div > p {

}
div > a {
color: black;
}
main > img {
display: inline-block;
width: 1200px;
height: 600px;
padding: 5px;
}